.landing-page .home-hero{
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: white;
}

.home-hero--bg{
  width: 100%;
  position: absolute;
}

.home-hero--container{
  position: relative;
  width: 100%;
  padding: 48px 70px 0 70px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.home-hero--container .logo span{
  color: #F1D22B;
}

.home-hero--container .home-nav, .home-nav nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-nav nav{
  gap: 24px;
}

.home-nav nav a{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home-nav nav a span{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: -100px;
}

.home-nav nav a:hover{
  text-decoration: underline;
}

.home-nav nav a:hover span{
  top: -15px;
}

.home-hero .home-hero--content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-hero .home-hero--content > div{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 100px;
  width: 100%;
}

.home-hero--content > div h3{
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  max-width: 600px;
}

.home-hero--content .hero-buttons{
  display: flex;
  gap: 24px;
}

.home-hero--content .hero-buttons .button:last-child{
  background-color: unset;
  color: white;
}

.home-hero--content .hero-img{
  flex: 1;
}

.landing-page > section{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.landing-page section{
  margin-bottom: 180px;
}

.landing-page section h1{
  margin-bottom: 24px;
}

h1 + p{
  max-width: 685px;
}

.about .about--items{
  display: flex;
  gap: 30px;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.about--items .about-item{
  background: #FFFFFF;
  box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 375px;
  height: 250px;
  cursor: pointer;
}

.about--items .about-item:hover{
  background-color: #3642DF;
  color: white;
}

.landing-page .services{
  padding: 0 100px;
}

.services .services--item{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 30px;
  gap: 50px;
}

.services--item .service--content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 25px;
}

.service--content .service--switcher{
  display: flex;
  gap: 10px;
}

.services--item__rev{
  background: #F2F2F2;
  border-radius: 29px;
}

.services--selling{
  background: linear-gradient(100.46deg, #3951E6 0.85%, #75F7A9 98.89%);
  color: white;
}

.services--selling p{
  color: white;
}

.services--item__rev .service--content{
  align-items: flex-start;
  text-align: left;
}

.landing-page .contact-cta{
  display: flex;
  align-items: center;
  background: linear-gradient(273.14deg, #75F5AA -6.29%, #6CC197 105.19%);
  border-radius: 29px;
  padding: 100px 75px;
  color: white;
  font-weight: 800;
  font-size: 28px;
  line-height: 45px;
  width: 100%;
  justify-content: space-between;
}

.landing-page .contact-cta div{
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 600px;
}

.waves-wrapper{
  position: relative;
  width: 100vw;
}

.waves-wrapper img{
  position: absolute;
  right: 0;
  bottom: -650px;
  width: 100%;
  max-width: 100vw;
  z-index: -1;
}

.services--selling{
  position: relative;
}

.landing-page section:last-child{
  margin-bottom: 0;
}

.landing-page .contact{
  padding: 150px 75px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-radius: 140px 0 0 0;
  box-shadow: -5px -5px 100px #3951E6;
  position: relative;
  overflow: hidden;
}

.landing-page .contact .contact-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.landing-page .contact p{
  color: white;
  max-width: 516px;
}

.contact form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact form input, .contact form textarea{
  width: 616px;
  background: #FAFAFA;
  border-radius: 10px;
  padding: 10px;
}

.contact form input{
  height: 68px;
}

.contact form .submit-button{
  background: #75F5AA;
  border-radius: 8px;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height */

  text-align: center;

  /* Color_white */

  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact form .submit-button:hover{
  background-color: #3642DF;
}

.landing-page .footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  background-color: #75F5AA;
  color: white;
  position: relative;
}