#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  margin: 0;
  padding: 0;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: var(--font-primary);
}

ul{
  list-style-type: none;
}

button{
  cursor: pointer;
  border: none;
  background-color: unset;
  font-family: inherit;
}

button:focus{
  stroke-width: 0;
  outline: none;
}

input, textarea{
  border: none;
  outline: 0;
  font-family: inherit;
  background-color: unset;
}

input:hover, textarea:hover{
  outline: 0;
}

a{
  color: inherit;
  text-decoration: unset;
}

/* route viewer styling */
.route-view{
  margin-top: 56px;
}

/* style for temporary header 
.temp-header{
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
}

.temp-header--container{
  background-color: rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 0.5px rgba(0, 0, 0, 0.1)
}

.temp-header--container nav{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  max-width: 65%;
  overflow: auto;
}

.temp-nav-link{
  background-color: #2DB36F;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.temp-nav-link:hover{
  transform: translate(3px, 3px);
}

.temp-button, .temp-header--container .btn{
  background-color: rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 5px;
  border:solid 1px red;
  color:  red;
}

.temp-button{
  position: relative;
  bottom: 20px;
  background-color: rgba(45, 179, 111, 0.5);
  border:solid 1px #2DB36F;
  color:  white;
  font-weight: bold;
}*/

/* global style */
h1{
  font-weight: 900;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */
  letter-spacing: 0.06em;
}

h2{
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.06em;
}

h3{
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.06em;
}

.text1, .section-link{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #5F5E79;
}

.text2{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
  color: #5F5E79;
}

.section-link{
  color: white;
  background-color: #3642DF;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 15px;
}

.section-link:hover{
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}

.blue-line,
.blue-line-rev,
.white-line{
  width: 338px;
  height: 8px;
  border-radius: 10px;
}

.blue-line{
  background: linear-gradient(89.98deg, #05A5F5 0.01%, rgba(5, 165, 245, 0) 100%);
}

.blue-line-rev{
  background: linear-gradient(270deg, #05A5F5 0%, rgba(5, 165, 245, 0) 100%);
}

.white-line{
  background: linear-gradient(90deg, #FFFFFF 2.66%, rgba(255, 255, 255, 0) 100%);
}

.button{
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: #3642DF;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeButton{
  background-color: #3642DF;
  color: white;
}

.button:hover{
  color: white;
  background-color: #3642DF;
}